<div class="lg:p-4 lg:m-4 bg-gray-600 rounded shadow-lg">
  <%= @build.uid %>
  <div class="flex justify-center overflow overflow-scroll">
    <%= for photo <- @build.photos do %>
      <img phx-click="delete" phx-value-id="<%= photo.id %>" class="object-scale-down h-64 rounded-t" src="/media/<%= photo.id %>">
    <% end %>
  </div>
</div>
