<div class="bg-gray-50 rounded" >
  <div class="carddiv flex flex-row">
    <%= for asset <- ["/images/cone-tcg.png", "/images/haz-tcg.png", "/images/john-tcg.png", "/images/threedia-tcg.png"] do %>
      <div class="card3d">
        <%= link to: "/fixme" do %>
          <img ondragstart="return false;" ondrop="return false;" src="<%= Routes.static_path(@socket, asset) %>" width="180">
        <% end %>
      </div>
    <% end %>
  </div>
</div>
