<div class="p-10">
  <%= if Enum.count(@results) == 0 do %>
    <div class="text-white">
      Currently no parts available for <%= @tag %>
      Check back later
    </div>
  <% else %>
    <%= for result <- @results do %>
      <div class="">
        <%=  link result.title, to: Routes.list_path(@socket, :index, %{tag: @list_tag, product_tag: @tag, product_id: result.id}) %>
      </div>
    <% end %>
  <% end %>
</div>
